<!DOCTYPE html>
{% extends "main_module/base_dash.html" %}
{% load static %}
{% block body_block %}
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>

<!-- Load color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>



<!-- Create a div where the graph will take place -->
<div class="jumbotron" style="
   width: 80%;
   margin-left: auto;margin-right: auto; margin-bottom:10px">
<div id="my_dataviz" style="height: 100%;
    width: 100%;"></div>
    </div>

<!-- A bit of CSS: change stroke color of circle on hover (white -> black) -->
<style>
.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}
</style>


<script>
//mydiv=document.getElementById("my_dataviz");

var w = 400;//screen.availWidth;
var h = 400;//screen.availHeight;
// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 40, left: 40},
    width = w - margin.left - margin.right,
    height = h - margin.top - margin.bottom;
var mmm={}

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");


//Read the data

var request = new XMLHttpRequest()

request.open('GET', "{% url 'risk_data' %}", true)
request.onload = function () {
  // Begin accessing JSON data here
  var datam = JSON.parse(this.response);
  mmm=datam;




  // Add X axis
  var x = d3.scaleLinear()
    .domain([0, 11])
    .range([ 0, width ]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  // Add Y axis
  var y = d3.scaleLinear()
    .domain([0, 11])
    .range([ height, 0]);
  svg.append("g")
    .call(d3.axisLeft(y));

  // Add a scale for bubble size
  var z = d3.scaleLinear()
    .domain([0, 11])
    .range([ 4, 40]);

  // Add a scale for bubble color
  var myColor = d3.scaleOrdinal()
     .domain(datam['cat'])
     .range(d3.schemeSet1);

  // -1- Create a tooltip div that is hidden by default:
  var tooltip = d3.select("#my_dataviz")
    .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
      .style("background-color", "black")
      .style("border-radius", "5px")
      .style("padding", "10px")
      .style("color", "white")

  // -2- Create 3 functions to show / update (when mouse move but stay on same circle) / hide the tooltip
  var showTooltip = function(d) {
    tooltip
      .transition()
      .duration(20)
    tooltip
      .style("opacity", 1)
      .html(datam['cat2'][d.category_id]+ ", "+d.title.slice(0, 30)+"..."+" impact:"+d.impact+", likelihood:"+d.likelihood +", criticality:"+d.criticality)
      .style("left", (d3.mouse(this)[0]+30) + "px")
      .style("top", (d3.mouse(this)[1]+30) + "px")
  }
  var moveTooltip = function(d) {
    tooltip
      .style("left", (d3.mouse(this)[0]+30) + "px")
      .style("top", (d3.mouse(this)[1]+30) + "px")
  }
  var hideTooltip = function(d) {
    tooltip
      .transition()
      .duration(200)
      .style("opacity", 0)
  }

  // Add dots
  svg.append('g')
    .selectAll("dot")
    .data(datam['risks'])
    .enter()
    .append("circle")
      .attr("class", "bubbles")
      .attr("cx", function (d) { return x(d.likelihood); } )
      .attr("cy", function (d) { return y(d.impact); } )
      .attr("r", function (d) { return z(d.criticality); } )
      .style("fill", function (d) { return myColor(d.category_id); } )
    // -3- Trigger the functions
    .on("mouseover", showTooltip )
    .on("mousemove", moveTooltip )
    .on("mouseleave", hideTooltip )
    // text label for the y axis
  svg.append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 0 - margin.left)
         .attr("x",0 - (height / 2))
         .attr("dy", "0.5em")
         .style("text-anchor", "middle")
         .text("impact");
   svg.append("text")
      .attr("transform",
            "translate(" + (width/2) + " ," +
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("likelihood");
  }

  request.send();

</script>
{% endblock %}
