<!DOCTYPE html>
{% extends "main_module/base.html" %}
{% load static %}
{% block body_block %}
<div class="jumbotron" style="
   width: 80%;
   margin-left: auto;margin-right: auto; margin-bottom:10px">
   <h4>
   {% if not form.instance.pk %}
   New Issue
   {% else %}
   Update issue Profile
   {% endif %}
   </h4>
   <form class=""  method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="submit" class="btn btn-primary" value="Submit">
     <a class="btn btn-danger" href="{% url 'issue_list' %}"><i class="	fa fa-close"></i></a>

   </form>

</div>

{% endblock %}
