<!DOCTYPE html>
{% extends "main_module/base.html" %}
{% load static %}
{% block body_block %}
<div class="jumbotron" style="
   width: 80%;
   margin-left: auto;margin-right: auto; margin-bottom:10px">
   <h4>Issue profile</h4>
   <h5>{{issue_detail.title}}</h5>
   <h5>{{issue_detail}}</h5>

   <h5>{{issue_detail}}</h5>


      <div class="card-body">
               {{issue_detail.description|safe}}
   </div>
   <a class="btn btn-danger" href="{% url 'issue_list' %}"><i class="	fa fa-close"></i></a>
</div>
{% endblock %}
